body
{  /* If the user cannot load the Arial font, the sans-serif font is used */
    font-family:Arial,sans-serif;
    background-color: coral;
}

h1 {font-size: 38px;}

h2 {font-size: 32px;}

ul li a {

    text-decoration: none; /* This assures the a elements are not underlined */
    color: inherit;
}

header > img {width: 100px;}

.ingredients-list {
    /* This selector selects ALL anchor tag children of ALL list elements that
are children of an Unordered List element */
  list-style: square inside;
}

ol {
  list-style: square inside;
}

/* CSS Advanced Selectors */


input[type="radio"], select, input[type="submit"]  {
        cursor: pointer;
        outline: none;
}

/* Style the background-color of the submit button gold using the last-child selector and give it a darkening hover effect. */

ol li:nth-of-type(2n) {
  background-color: gray;
}

h2 + .user_review {
  border-top: 1px solid black;
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-image: url(./stars.png);
    vertical-align: bottom;
}